* {
  position: relative;
}

body, input, button {
  font-family: "Roboto", sans-serif;
}

#inputBox input {
  top: 0;
  width: 80%;
  height: 25px;
  z-index: 1;
  margin: 0;
  float: left;
  background: gray;
  color: white;
  font-size: 14px;
  text-indent: 18px;
  border-radius: 8px;
  border: none;
  box-shadow:none;
}
input::-webkit-input-placeholder {
  color: white;
  opacity: .9;
}
#inputBox {
  float: left;
  width: 100%;
  height: 20%;
}

#inputBox button {
  top: .5px;
  z-index: 100;
  right: 30px;
  font-size: 100%;
  color: green;
  background: white;
  height: 26px;
  width: 29.5px;
  box-shadow: none;
  border-radius: 9px;
  border: 1px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

#inputBox button:active {
  top: .5px;
  z-index: 100;
  right: 30.5px;
  font-size: 100%;
  color: white;
  background: gray;
  height: 26.5px;
  width: 30px;
  box-shadow: none;
  border-radius: 9px;
  border: 1px solid white;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

#container ul li {
  transition: initial;
  top: 0px;
  vertical-align: middle;
  list-style: none;
  left: .5px;
  font-size: 20px;
  border-color: black;
  border-radius: 9px;
  color: black;
  z-index: 1000;
  margin-top: 3px;
  padding: 3px;
}


#container {
  margin: 0 auto 15px auto;
  overflow:auto;
  width: 80%;
  float: left;
}

#container ul {
  vertical-align: middle;
  padding: 0;
  left: 0;
  list-style: none;
  display: block;
  margin: 0;
}

#container ul li.gray {
  background: #f9f9f9;
}
#container ul li.white {
  background: #fff;
}

#container ul li.checked {
  text-decoration: line-through;
  background: gray;
  color: white;
  transition: color 1s;
}

#container #footer {
  opacity: .9;
  position: fixed;
  width: 75%;
  height: 8%;
  bottom: 0;
  background: gray;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  border: none;
  padding: 2px;
  border-radius: 9px;
  z-index: 1100;
  color: white;
}
